/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/loading/Loading.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Loading_main__paZY_ {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.Loading_main__paZY_ h2 {
  margin: 10px;
}

