/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/welcome/Welcome.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Welcome_main___WgcL {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 75vh;
  margin: 0 auto;
  font-size: 28px;
}

